/*ANIMATIONS*/
/*La ventaja de los keyframes es que los defines una vez y
puedes utilizarlos en repitidas ocasiones y diversos elementos*/
@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }

  80%{
    transform: translateX(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(5rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
}
}
